{% extends './Layout.html' %} {% block links %} {% endblock %} {% block body %}
<ul class="m-topic" id="GoTop">
    {% for item in data %}
    <li>
        <a href="/topicvod/{{item.type}}">
            <p>{{item.describe}}</p>
            <label>---- 共{{item.list.group | length}}个影片 ----</label>
            <img src="{{item.list.cover}}" alt="">
            <div></div>
        </a>
    </li>
    {% endfor %}
</ul>
<div class="m-page-box">
    <div class="M-box m-style">

    </div>
</div>
{% endblock %} {% block scripts %}
<script src="/public/plugin/jquery.pagination.js"></script>
<script>
    var total = {{count}};
    total = Math.ceil(total/9)
    var currentPage = $.utils.hrefParse();
    currentPage = currentPage.page? Number(currentPage.page) : 1;
    $.PageGo(currentPage,total,function(page){
        location.href="/topic?page=" + page + "#GoTop";
    });
</script> {% endblock %}