{% extends './Layout.html' %} {% block links %}
<link rel="stylesheet" href="/public/css/swiper-4.3.3.min.css">{% endblock %} {% block body %}
<div class="detail-box">
    <div class="movie-main">
        <div class="box-left">
            <img src="http://go.richfly.cn/{{data.cover}}" />
        </div>
        <ul class="box-right">
            <li class="name" id="Name">{{data.name}}</li>
            <li class="year">
                <label>上映时间：</label>
                <span>{{data.year}}</span>
            </li>
            <li class="year">
                <label>地区：</label>
                <span>{{data.area}}</span>
            </li>
            <li class="classify">
                <label>类型：</label>
                {% for type in data.classify %}
                <span>{{type}}</span>
                {% endfor %}
            </li>
            <li class="director">
                <label>导演：</label>
                {% for dir in data.director %}
                <span>{{dir}}</span>
                {% endfor %}
            </li>
            <li class="actor">
                <label>演员：</label>
                {% for act in data.actor %}
                <span>{{act}}</span>
                {% endfor %}
            </li>
            <li class="actor">
                <label>剧情：</label>
                <span>
                    <!-- <p>{{intro}}</p> -->
                    <a class="look-detail">查看详情</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="msg-text vivify animationObject">
        <h3 class="line-title">精彩剧情</h3>
        <p>{{data.intro}}</p>
    </div>
    <div class="online-box">
        <h3 class="line-title">在线播放</h3>
        <div class="onbox-swiper">
            <div class="swiper-online">
                <div class="swiper-wrapper" id="OnlineSwiper">

                </div>
            </div>
            <div class="swiper-pagination online-page"></div>
            <div class="swiper-button-prev online-prev"></div>
            <div class="swiper-button-next online-next"></div>
        </div>
    </div>
    <!-- <div class="bili-box">
        <h3 class="line-title">B站锦集</h3>
        <ul class="bili-block">
            <li key={o.av} class="vivify animationObject">
                <div class="bili-img">
                    <a href="/" target="view_window">
                        <img src={`http://codeli.leanapp.cn/image?url=http:${o.img}`} />
                        <img src="" alt="">
                    </a>
                </div>
                <span class="time"></span>
                <div class="bili-info">
                    <a class="title" href={`https://www.bilibili.com/video/${o.av}/`} target="view_window">
                    <a class="title" href=""></a>
                    <p></p>
                    </a>
                    <div>
                        <label></label>
                        <span></span>
                    </div>
                    <a class="up-zhu" href=""></a>
                    <a  href={`https://space.bilibili.com/${o.upZhu.id}`} target="view_window">{o.upZhu.name}</a>
                </div>
            </li>
        </ul>
    </div> -->
    <ul class="down-url">
        <h3 class="line-title">下载地址</h3>
        {% for down in data.url %}
        <ul class="url-box">
            {% for play in down %}
            <li>
                <a title="{{play.title}}">{{play.title}}</a>
                <input type="text" value="{{play.url}}" onfocus="this.select();" />
                <!-- <label></label> -->
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="/public/plugin/swiper-4.3.3.min.js"></script>
<script>
    var name = $("#Name").html();
    $.Online(name);
</script> {% endblock %}