<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/reset.css" />
  <link rel="stylesheet" href="http://localhost:8092/main.css" />
  <script type="text/javascript" src="/public/js/jquery-2.1.0.js"></script>
  <link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <ul id="Grim" class="grim-box">
    <li class="box1 tran">
      <video id="myVideo" class="video-js" controls  width="640" height="264">
        <source src="http://go.richfly.cn/Zr40p7IZ~X2N0Un7Fjquu.mp4" type='video/mp4'>
      </video>
      <!-- <div class="outer"></div> -->
    </li>
    <li class="box2 tran">
      <div class="blur fly"></div>
      <div class="inner">
        <p>
          <a href="/home">电影</a>
        </p>
      </div>
    </li>
    <li class="box3 tran">
      <a href="">
        <div class="blur"></div>
        <div class="inner">
          <p>
            <a>动漫</a>
          </p>
        </div>
      </a>
    </li>
    <li class="box4 tran">
      <a href="/list?catalog=欧美剧">
          <div class="blur"></div>
          <div class="inner">
            <p>美剧</p>
          </div>
      </a>
    </li>
    <li class="box5 tran">
      <div class="blur"></div>
      <div class="inner">
        <p>明星</p>
      </div>
    </li>
    <li class="box6 tran">
      <a href="/list?catalog=日韩剧">
        <div class="blur"></div>
        <div class="inner">
          <p>韩剧</p>
        </div>
      </a>
    </li>
    <li class="box7 tran">
      <div class="blur"></div>
      <div class="inner">
        <p>咨询</p>
      </div>
    </li>
    <li class="box8"></li>
    <li class="box9"></li>
    <li class="box10"></li>
  </ul>
</body>

</html>
<script type="text/javascript" src="http://localhost:8092/common.js"></script>
<script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
<script>
  var options = {
    autoplay: true
  }
var player = videojs('myVideo', options, function onPlayerReady () {
    videojs.log('Your player is ready!')

  // In this context, `this` is the player that was created by Video.js.
  this.play()
  console.log(2)
  // How about an event listener?
  this.on('ended', function () {
      videojs.log('Awww...over so soon?!')
  })
})
player.autoplay('play')
</script>
