.box{
    background: url("../images/base64.png") no-repeat center;
}
.box1{
    background: url("../images/boxlogo2.png") no-repeat center;
}
.box2{
    background: url("../images/boxlogo3.png") no-repeat center;
}
.box3{
    background: url("../images/icon.ico") no-repeat center;
}
