
@{
    Layout = null;
  }
  
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
      <meta content="yes" name="apple-mobile-web-app-capable" />
      <meta content="yes" name="apple-touch-fullscreen" />
      <meta name="data-spm" content="a215s" />
      <meta content="telephone=no,email=no" name="format-detection" />
      <meta content="fullscreen=yes,preventMove=no" name="ML-Config" />
      <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
      <link rel="stylesheet" href="/static/css/common.css" />
      <link rel="stylesheet" href="/static/css/common.css" />
      <link href="/static/css/app.css?v='1534211549215'" rel=stylesheet>
      <title>访客系统</title>
    </head>
    <body>
      <div id="app"></div>
      <script type=text/javascript src="/static/js/manifest.js?v='1534211549215'"></script>
      <script type=text/javascript src="/static/js/vendor.js?v='1534211549215'"></script>
      <script type=text/javascript src="/static/js/app.js?v='1534211549215'"></script>
      <!-- built files will be auto injected -->
    </body>
  </html>